{% extends 'base.html' %}
{% block conteudo %}  
    <table class="table">
    
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
            
        </tr>
        
    {% for product in products %}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.value}}</td>
    
        <td><a href="/fair/{{product.id}}/comprar/">Comprar</a></td>
        </tr>
        
        {% endfor %}    
      <a href="/fair/show/">Carrinho: {{request.session.li | length}}</button>
              
</table>       
{% endblock %}
